---
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <section class="content">
        <p>I'm a software developer and I mainly work on stuff in Go or JavaScript. You can view some of my projects <a href="{{ '/projects' | prepend: site.baseurl }}">here</a>.</p>
        <p>I'm also a huge advocate for open source, most of my work is publicly available on <a href="https://github.com/kshvmdn">GitHub</a> or <a href="https://gitlab.com/kashav">GitLab</a>.</p>
        <p>I currently attend the <a href="https://web.cs.toronto.edu">University of Toronto</a>, where I study Computer Science and Math. My focuses lie in Computer Systems and Artificial Intelligence.</p>
        <p>Feel free to view my <a href="{{ '/static/docs/resume.pdf' | prepend: site.baseurl }}">resume</a> or send me an <a href="mailto:kshvmdn@gmail.com">e-mail</a> to get in touch.</p>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
