---
title: Kashav Madan
links:
  - name: LinkedIn
    href: https://linkedin.com/in/kshvmdn
    slug: Connect
  - name: GitHub
    href: https://github.com/kshvmdn
    slug: Code
  - name: LinkedIn
    href: mailto:kshvmdn@gmail.com
    slug: Contact
categories:
  - name: meta
  - name: education
  - name: projects
  - name: work
    slug: work_experience
  - name: resume
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ page.title }}</title>

  <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.ico">
  <link rel="icon" type="image/x-icon" href="./assets/images/favicon.ico">

  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic|Roboto+Mono:400,300,100'>

  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=PT+Mono'>
  <link rel="stylesheet" type="text/css" href="./assets/styles/kshvmdn.css">
</head>
<body>
  <div class="container">
    <header>
      <h1 id="name"><a href="/">Kashav Madan</a></h1>
      <div id="links">
        {% for l in page.links %}
          <a href="{{ l.href }}" title="{{ l.name }}">{{ l.slug }}</a>
        {% endfor %}
      </div>
    </header>
    <main>
      <div class="console">
        <div class="code">
          {% for c in page.categories %}
          <div class="block" id="{{ c.name }}-block">
            <div class="input">kshvmdn.{% if c.slug %}{{ c.slug }}{% else %}{{ c.name }}{% endif %}</div>
            <div class="result">
              <pre class="json"><code id="{{ c.name }}-json"></code></pre>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>
  </div>
  <script type="text/javascript" src="./assets/scripts/kshvmdn.js"></script>
</body>
</html>
