---
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      <h1>Kashav Madan</h1>
      <hr />
      <p>Undergraduate student at the <a href="http://web.cs.toronto.edu/">University of Toronto</a>.</p>
      <p>Incoming platform intern at <a href="https://www.mozilla.org/">Mozilla</a> (S18).</p>
      <p><span class="kshvmdn">@kshvmdn</span> on pretty much everything. See my work on <a href="https://github.com/kshvmdn">GitHub</a> or shoot me an <a href="mailto:kshvmdn@gmail.com">e-mail</a> to chat.</p>
      <hr />
    </div>
    {% include footer.html %}
  </body>
</html>
