<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="index, follow">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="kashav, madan, kshvmdn, university of toronto">

  <title>{{ site.title }}</title>

  <base href="{{ site.baseurl }}">

  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="profile">
  <meta property="og:profile:first_name" content="Kashav">
  <meta property="og:profile:last_name" content="Madan">
  <meta property="og:profile:username" content="kshvmdn">
  <meta property="og:profile:gender" content="male">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.img }}">
  <meta property="og:url" content="{{ site.baseurl }}">

  <meta name="twitter:card" content="{{ site.description }}">
  <meta name="twitter:site" content="@kshvmdn">
  <meta name="twitter:creator" content="@kshvmdn">
  <meta name="twitter:url" content="{{ site.baseurl }}">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.img }}">

  <link rel="shortcut icon" type="image/x-icon" href="{{ '/static/favicon.ico' | prepend: site.baseurl }}">
  <link rel="icon" type="image/x-icon" href="{{ '/static/favicon.ico' | prepend: site.baseurl }}">

  <link href="https://fonts.googleapis.com/css?family=Molengo|Nanum+Gothic+Coding" rel="stylesheet">
  <link href="{{ '/static/css/kshvmdn.css' | prepend: site.baseurl }}" rel="stylesheet">
</head>
