---
---

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 25em;
  max-width: 90%;
  margin: 1.5em auto;
  font-family: "Nanum Gothic Coding";
  font-weight: 300;

  h1 {
    font-family: "Molengo";
    font-size: 1.3em;
    font-weight: normal;
    margin: 0;
  }

  hr {
    border: 1px solid #dddeee;
  }

  p {
    font-size: 0.95em;
    line-height: 1.2em;
    margin: 0.8em auto;

    a {
      background: #eeeeee;
      color: #2e3b43;
      text-decoration: none;

      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }
}
