* {
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  margin: 0;
  padding: 0
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  font-family: "Quicksand";
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  color: #ecf0f1;
  background-color: #111;
}

section {
  padding: 40px 0
}

.highlight.dark {
  color: #8e44ad;
  font-weight: 700;
}

.highlight.light {
  color: #9b59b6;
  font-weight: 700;
}

.hero {
  padding-left: 40px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.3em !important;
  color: #bdc3c7;
  background-color: #fff;
  background-image: url("../img/pattern.png");
}

.hero h4 {
  margin: 0;
  padding: 0;
}

.hero h1 {
  font-size: 55px;
  margin: 0 auto;
  color: #ecf0f1;
}

.hero h3 {
  letter-spacing: 1.2px;
  font-weight: 400;
  margin-right: 15%;
  margin-top: 20px;
  text-transform: none;
}

.hero a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.projects {
  padding-left: 40px;
  width: 100%;
  color: #666;
  background: #fff;
}

.projects .heading h2 {
  font-size: 28px;
  display: inline-block;
  margin-right: 5px;
}

.projects .heading .small {
  font-size: 16px;
  color: #7D7D7D;
  font-weight: 300;
}

.projects .heading .small a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.projects .project {
  font-size: 18px;
  margin: 30px auto;
  margin-right: 15%;
  color: #6C7778;
  padding: 5px 0;
}

.projects .project:hover {
  padding-left: 10px;
  border-left: 3px solid #eee;
}

.projects .title {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  color: #555;
  cursor: pointer;
}

.projects .project a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  border-bottom: 1px solid #fff;
}

.projects .project a:hover {
  border-bottom: 1px solid #ccc;
}

.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  padding-bottom: 40px;
}

.footer .social-icons {
  width: 80%;
  margin: auto;
}

.footer .social-icons a {
  padding: 20px;
  position: relative;
  display: inline-block;
  transition: all 0.4s cubic-bezier(0.42, -0.76, 0.48, 1.64);
  -webkit-transition: all 0.4s cubic-bezier(0.42, -0.76, 0.48, 1.64);
  -moz-transition: all 0.4s cubic-bezier(0.42, -0.76, 0.48, 1.64);
  -ms-transition: all 0.4s cubic-bezier(0.42, -0.76, 0.48, 1.64);
  -o-transition: all 0.4s cubic-bezier(0.42, -0.76, 0.48, 1.64);
  top: 0;
}

.footer .social-icons a:hover {
  top: -10px;
}

.footer a {
  color: inherit;
}

.footer .contact a {
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.footer .contact a:hover {
  border-bottom: 1px solid #ccc;
}
