* {
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    -ms-transition: .2s ease all;
    -o-transition: .2s ease all;
    transition: .2s ease all;
}

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}


div.container {
    padding: 30px 20px;

    color: #484141;
}

header {
    font-family: 'Merriweather';

    padding: 10px 0;

    text-align: center;
}

header a {
    text-decoration: none;

    color: inherit;
}

header #name {
    font-weight: 400;
}

header #links a {
    font-weight: 300;

    margin: auto 10px;

    vertical-align: middle;
    text-decoration: none;

    color: inherit;
}

header #links a:nth-child(2) {
    font-size: 1.2em;
}

header #links a:hover {
    color: #0000EE;
}

main {
    display: block;

    padding: 30px 0;
}

main .console {
    font-family: 'PT Mono';
    font-weight: 300;

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 18px;

    border-radius: 5px;
    background-color: #E1E1E1;
}

main .console .code {
    overflow: scroll;

    max-height: 500px;
    padding: 10px 40px;

    white-space: nowrap;

    color: ghostwhite;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #2B2F3A;
}

main .code .block {
    margin: 30px 0;
}

main .code .input {
    margin: 5px auto;
}

main .code .input:before {
    content: '> ';
}

main .code a {
    color: #B9C0CB;
}

main .code pre,
main .code code {
    font: inherit;

    margin: 0 auto;
    padding: 0;

    color: #6F7783;
}

main .code pre a {
    color: inherit;
}

main .code .json-key {
    color: #B9C0CB;
}

main .code .json-value {
    color: #E88388;
}

main .code .json-string {
    color: #A7CC8C;
}

main .code .json-bool {
    color: #D291E4;
}

main .code .json-null {
    color: #6F7783;
}

@media screen and (max-width: 800px) {
    main .console {
        font-size: .9em;
    }

    main .console .code {
        padding: 0 25px;
    }
}

@media screen and (max-width: 600px) {
    main .console {
        font-size: .8em;
    }

    main .console .code {
        padding: 0 20px;
    }
}

