div.container {
    padding: 30px 20px;

    color: #484141;
}

header {
    font-family: 'Merriweather';

    padding: 10px 0;

    text-align: center;
}

header #name {
    font-weight: 400;
}

header #links a {
    font-weight: 300;

    margin: auto 10px;

    vertical-align: middle;
    text-decoration: none;

    color: inherit;
}

header #links a:nth-child(2) {
    font-size: 1.2em;
}

header #links a:hover {
    color: #0000EE;
}

main {
    display: block;

    padding: 30px 0;
}

main .console {
    font-family: 'Roboto Mono';
    font-size: .9em;
    font-weight: 300;

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 18px;

    border-radius: 5px;
    background-color: #CCC;
}

main .console .code {
    overflow: scroll;

    max-height: 450px;
    padding: 10px 40px;

    color: #FFF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #383737;

    white-space: nowrap;
}

main .code .block {
    margin: 30px 0;
}

main .code .input {
    margin: 5px auto;

    color: #FAFAFA;
}

main .code .result {
    color: #CCC;
}

main .code .input:before {
    content: '> ';
}

main .code .result.string:before,
main .code .result.string:after {
    content: '\'';
}

main .code .result.link a {
    color: inherit;
}

main .code .result.link a.no_decoration {
    text-decoration: none;
}

main .code .result.link a:hover {
    color: #3A92C8;
}

main .code .result.array:before {
    content: '[';
    white-space: pre;
}

main .code .result.array:after {
    content: ']';
    white-space: pre;
}


main .code .result.json:before {
    content: '{\A';
    white-space: pre;
}

main .code .result.json:after {
    content: '}';
}

main .code .result.json .key {
    font-weight: 400;
}

main .code .result.json .key:before {
    content: '\00a0\00a0';
}

main .code .result.json .key:after {
    content: ': ';
}

main .code .result.json .value.string:before {
    content: '\'';
}

main .code .result.json .value.string:not(:last-child):after {
    content: '\',\A';
    white-space: pre;
}

main .code .result.json .value.string:last-child:after {
    content: '\'\A';
    white-space: pre;
}

main .code .result.json .value.link a {
    color: inherit;
}

main .code .result.json .value.link a:hover {
    color: #3A92C8;
}


@media screen and (max-width: 550px) {
    main .console {
        font-size: 0.8em;
    }

    main .console .code {
        padding: 0 20px;
    }
}
