<% for(var i = 0; i < projects.length; i++) { %>
  <div class="project" data-href="<%= projects[i].url %>">
    <div class="title"><%= projects[i].name%></div>
    <div class="description">
      <p><%= projects[i].description %></p>
    </div>
  </div>
<% } %>
