---
---

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  font-family: Merriweather, Palatino;
  font-weight: 300;
  background-color: #fff;
  color: #515151;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .4s ease;
}

.container {
  padding: 5rem 1rem;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 5rem 0 0.75rem;
  color: #aaa;
  font-family: Lato;

  h1 {
    margin-top: 0rem;
    margin-bottom: 0.45rem;
    letter-spacing: -.015rem;
    font-size: 1.65rem;
    font-weight: 300;
    line-height: 1;

    #name {
      color: #333;
    }
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
      padding: 0 0.35rem;
      display: inline;
      font-size: 0.9rem;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.current,
      a:hover {
        color: #333;
      }
    }
  }
}

section.content {
  p {
    line-height: 1.8;
    margin: 0 0 1rem;
    font-size: 0.87rem;
  }

  a {
    color: #375eab;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}

section.projects {
  div.project {
    p.project--name {
      margin: 0 0 0.2rem;

      a.project--link {
        font-weight: 100;
        font-size: 0.87rem;
        font-style: italic;
      }
    }

    p.project--description {
      color: #777;
      font-size: 0.82rem;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 636px) {
  .container {
    padding: 1rem;
  }

  header {
    padding: 1rem 0 0.75rem;

    ul > li {
      padding: 0 0.25rem;
    }
  }

  section.content {
    p {
      line-height: 1.7;
      margin: 0 0 0.8rem;
    }
  }
}
