---
---

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 45em;
  max-width: 90%;
  margin: 1.5em auto;
  font-family: 'Merriweather';
  font-weight: 300;
  text-align: justify;

  h1 {
    font-size: 1.2em;

    i {
      font-weight: 300;
    }
  }

  h2 {
    font-size: 1.1em;
  }

  hr {
    border: 0.5px solid rgb(128, 128, 128);
  }

  p {
    font-size: 0.85em;

    a {
      color: #663399;
      text-decoration: none;
      font-weight: 400;

      &:hover {
        color: #1589FF;
        text-decoration: underline;
      }

      i {
        font-weight: 300;
      }
    }
  }

  div.projects {
    margin: 1em auto;

    p {
      display: inline;

      &:not(:last-child):after {
        content: ', ';
      }
    }
  }
}
