---
---

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 27em;
  max-width: 90%;
  margin: 1.5em auto;
  font-family: "Inconsolata";
  font-weight: 300;

  h1 {
    font-family: "Molengo";
    font-size: 1.45em;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }

  hr {
    border: 0.5px solid rgb(128, 128, 128);
  }

  p {
    font-size: 1em;
    line-height: 1.4em;
    letter-spacing: -0.25px;

    .kshvmdn {
      border-bottom: 0.5px dashed #2e3b43;
    }

    a {
      background: #eeeeee;
      color: #2e3b43;
      text-decoration: none;

      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }
}
